Source: core-utils
Section: unknown
Priority: optional
Maintainer: bhavyagoel <bhavyagoel@unknown>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/core-utils
#Vcs-Git: https://salsa.debian.org/debian/core-utils.git
Rules-Requires-Root: no

Package: core-utils
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
